@model LightningLots.Models.ViewModel.LotCreateViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Lot</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form enctype="multipart/form-data" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="LotName" class="control-label"></label>
                <input asp-for="LotName" class="form-control" />
                <span asp-validation-for="LotName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreationTimeStamp" class="control-label"></label>
                <input asp-for="CreationTimeStamp" class="form-control" />
                <span asp-validation-for="CreationTimeStamp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Weight" class="control-label"></label>
                <input asp-for="Weight" class="form-control" />
                <span asp-validation-for="Weight" class="text-danger"></span>
            </div>
            <div class="custom-file">
                <label class="custom-file-label" asp-for="Attachment" class="form-control custom-file-input">Choose File</label>
                <input asp-for="Attachment" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
            
            @section Scripts {
                <script>
                    $(document).ready(function () {
                        $('.custom-file-input').on("change", function () {
                            var fileName = $(this).val().split("\\").pop();
                            $(this).next('.custom-file-label').html(fileName);
                        });
                </script>
            }

        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
